body {
    background-color: #161a1a;
}

h1 {
    color: #04ecec;
    text-align: center;
}

.main {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#grid {
    display: grid;
    padding: 2em;
    margin: 2em;
    background-color: #0b1111;
    color: #04ecec;
    border: solid 2px #30acac;
    box-shadow: 0 0 10px #04ecec;
    padding: 5px 5px 5px 15px;
    width: 500px;
    height: 500px;
}

button {
    padding: 10px 20px;
    border: 1px solid #04ecec;;
    border-radius: 5px;
}

button.active {
    background-color: #0b1111;
    color: #04ecec;
}

button,
    input[type='color'] {
    transition: transform 0.1s ease-in-out;
}

button:hover,
    input[type='color']:hover {
    transform: scale(1.05);
}

input[type='color']:active {
    transition: transform 0.05s ease-in-out;
    transform: scale(1);
}

input[type='color'] {
    width: 80px;
    height: 80px;
    border: none;
}

input[type='color']::-webkit-color-swatch-wrapper {
    -webkit-appearance: none;
    padding: 0;
}

input[type='color']::-webkit-color-swatch {
    -webkit-appearance: none;
    border: none;
    border-radius: 50px;
    box-shadow: #0b1111 0px 3px 8px;
}

.size-value {
    margin-bottom: -20px;
    font-size: 20px;
}

input[type='range'] {
    -webkit-appearance: none;
    background-color: #04ecec;
}

input[type='range']::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    height: 10px;
    border: 1px solid #04ecec;
    border-radius: 25px;
    background: #0b1111;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 25px;
    margin-top: -8px;
    background: #0b1111;
}

@media (max-width: 1200px) {
  .main {
    justify-content: center;
  }
}

@media (max-width: 850px) {
  .main {
    gap: 50px;
  }

  .settings {
    width: 150px;
    gap: 16px;
  }

  .size-value {
    margin-bottom: -4px;
  }

  .grid {
    width: 400px;
    height: 400px;
  }
}

@media (max-width: 650px) {
  .title {
    font-size: 50px;
  }

  .main {
    flex-direction: column-reverse;
  }

  .grid {
    width: 300px;
    height: 300px;
  }
}