body {
    background-color: #FAE8E0;
}

h1 {
    color: #EF7C8E;
    text-align: center;
	font-size: 50px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main {
    display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 50px;
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    width: 200px;
}

#grid {
    display: grid;
    background-color: #FAE8E0;
    border: solid 3px #FFC2C7;
    width: 1000px;
    height: 500px;
	margin-left: 3em;
}

button {
	width: 100%;
    padding: 10px 20px;
	color: #EF7C8E;
    border: 1px solid #D8A7B1;
    border-radius: 5px;
}

button.active {
    background-color: #FFC2C7;
    color: #EF7C8E;
}

button,
    input[type='color'] {
    transition: transform 0.1s ease-in-out;
}

button:hover,
    input[type='color']:hover {
    transform: scale(1.05);
}

input[type='color']:active {
    transition: transform 0.05s ease-in-out;
    transform: scale(1);
}

input[type='color'] {
    width: 80px;
    height: 80px;
    border: none;
}

input[type='color']::-webkit-color-swatch-wrapper {
    -webkit-appearance: none;
    padding: 0;
}

input[type='color']::-webkit-color-swatch {
    -webkit-appearance: none;
    border: none;
    border-radius: 50px;
    box-shadow: #EF7C8E 0px 3px 8px;
}

.size-value {
    margin-bottom: -20px;
    font-size: 20px;
}

input[type='range'] {
    -webkit-appearance: none;
    background-color: #EF7C8E;
}

input[type='range']::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    height: 10px;
    background: #FFC2C7;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 25px;
    margin-top: -8px;
    background: #EF7C8E;
}

@media (max-width: 650px) {
  
  .main {
    flex-direction: column-reverse;
	align-content: center;
	justify-content: flex-start;
	gap: 50px;
  }

  #grid {
	margin-left: 0em;
    width: 70%;
  }
}